@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cat {
  position: relative;
  top: 5px;
  max-height: 60vh;
  overflow-y: auto;
  font-size: 20px;
}

.card {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  border: 2px solid rgb(117, 54, 117);
  text-align: center;
  padding: auto 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.card:hover {
  transform: scale(1.02);
}