.navbar {
  width: 95.5vw;
  height: 90px;
  background: transparent;
  border: 2px solid rgb(250, 129, 250);
  backdrop-filter: blur(15px);
  border-radius: 5px;
  padding: 0 10px 0 10px;
  margin: 15px auto;
  justify-content: space-between;
  position: sticky;
  top: 10px;
}

#learnHub {
  font-size: 60px;
  font-family: 'Caprasimo', sans-serif;
  position: relative;
  z-index: 10;
}

.navbar-right-left {
  gap: 5px;
}

.navbar-right {
  gap: 10px;
  max-height: 70px;
  text-decoration: underline;
}